.delete {
  background-color: #fff;
  color: #202020;
  padding: 16px 24px;
  border-radius: 5px;
  margin-right: 16px;
  font-size: 16px;
  letter-spacing: 1px;
  border: 1px solid "#202020";
  font-weight: 600;
}
.no-item {
  padding: 20px;
}
.search-form-container {
  /* margin-top: 30px;
  padding: 100px 20px 40px 50px;
  align-content: center;
  display: block;
  float: left;
  border-color: #202020;
  border-radius: 5px;
  color: #202020;
  font-size: 17px; */
  /* float: right;
  padding: 10px;
  border: none;
  margin-top: 50px;
  margin-right: 900px;
  font-size: 17px;
  align-content: center; */
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f6f6f6),
    to(#eae8e8)
  );
  background-image: -webkit-linear-gradient(top, #f6f6f6, #eae8e8);
  background-image: -moz-linear-gradient(top, #f6f6f6, #eae8e8);
  background-image: -ms-linear-gradient(top, #f6f6f6, #eae8e8);
  background-image: -o-linear-gradient(top, #f6f6f6, #eae8e8);
  background-image: linear-gradient(top, #f6f6f6, #eae8e8);
  border-color: #dedede #bababa #aaa #bababa;
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 3px rgba(255, 255, 255, 0.1), 0 3px 0 #bbb,
    0 4px 0 #aaa, 0 5px 5px #444;
  -moz-box-shadow: 0 3px 3px rgba(255, 255, 255, 0.1), 0 3px 0 #bbb,
    0 4px 0 #aaa, 0 5px 5px #444;
  box-shadow: 0 3px 3px rgba(255, 255, 255, 0.1), 0 3px 0 #bbb, 0 4px 0 #aaa,
    0 5px 5px #444;
  margin: 100px auto;
  overflow: hidden;
  padding: 8px;
  width: 280px;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.assign-page-container {
  width: calc(100% - 220px);
  margin: 0 auto;
  margin-top: 24px;
}
