.header {
    padding: 20px 20px;
    background-color: #dedede;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 2rem;
}

.sign-out-btn {
    border: none;
    background-color: #202020;
    color: #fff;
    outline: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    letter-spacing: 1px;
}