.emp-form-container11 {
  width: 100%;
  margin-top: 24px;
  height: 95%;
  max-height: 100%;
  overflow-y: scroll;
}

.emp-form11 {
  max-width: 600px;
  border: 1px solid #dedede;
  padding: 32px 24px;
  margin: 0 auto;
  border-radius: 5px;
}

.form-group11 {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  font-size: 18px;
}

.form-group11 label {
  margin-bottom: 8px;
  padding-left: 10px;
  color: #606060;
}

.form-group11 input {
  padding: 5px 10px;
  border: none;
  border-bottom: 1px solid #202020;
  outline: none;
}
.errormsg2 {
  color: red;
}

.form-wrapper11 {
  display: flex;
}

/* .radio-container1 {
  display: "flex";
  align-items: "center";
  padding-left: 10px;
} */

.radio-container1 label {
  margin-right: 1rem;
}

.radio-container label,
.radio-container input {
  cursor: pointer;
}
.form-group11 label {
  color: BLACK;
  font-weight: 510;
}
